body {
    padding: 100px;
}


/* .bank-title{
    text-align: center;
} */

.submit-area {
    display: block;
    margin-top: 50px;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 5px 5px 10px grey;
}

#transection-area {
    display: none;
}

.status {
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.deposit {
    background-color: slateblue;
}

.withdraw {
    background-color: lightsalmon;
}

.balance {
    background-color: orange;
}